extends ../shared/layout
block main-content
    form(method="post")
        label(for="title") Title
        input(id="title" class="form-control" type="text" name="title" placeholder="Title")
        br
        label(for="description") Description
        input(id="description" class="form-control" type="text" name="description" placeholder="Description")
        br
        label(for="video") Video url
        input(id="video" class="form-control" type="text" name="video" placeholder="Video url")
        button(id="add-url-video") Add new url form
        br
        label(for="category") Category
        select(id="category" class="form-control" name="category")
            option(value="") Choose Category (Wisely)
            each category in categories
                option(value="#{category}") #{category}
        br
        input(id="isPrivate" type="checkbox" name="isPrivate")
        span Private
        br
        input(type="submit" class="btn btn-lg" value="Create")